crewai~=0.117.0
crewai-tools
matplotlib~=3.10.1
matplotlib-inline
seaborn~=0.13.2
pandas~=2.2.3
langchain~=0.3.25
langchain-community~=0.3.23
langgraph~=0.4.1
langchain-core~=0.3.58
pydantic~=2.8.2
streamlit~=1.45.0
langchain-experimental~=0.3.4
mcp~=1.8.0
nest-asyncio~=1.6.0